@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background: #ececec;
  margin: 0;
}

/*------------ Login container ------------*/

.box-area {
  width: 930px;
  margin: 0 auto;
}

/*------------ Right box ------------*/

.right-box {
  padding: 40px 30px 40px 40px;
}

/*------------ Custom Placeholder ------------*/

::placeholder {
  font-size: 16px;
}

.rounded-4 {
  border-radius: 20px;
}
.rounded-5 {
  border-radius: 30px;
}

/*------------ For small screens------------*/

@media only screen and (max-width: 768px) {
  .box-area {
    width: 100%;
    padding: 0 20px;
  }

  .right-box {
    padding: 20px;
  }
}

/*------------ For even smaller screens (e.g., smartphones) ------------*/

@media only screen and (max-width: 480px) {
  .right-box {
    padding: 15px;
  }
}
